.location-overview {
  width: 420px;
  display: flex;
  align-items: center;
  background: var(--clr-info-bg);
  border: 1px solid rgba(120, 180, 240, 0.08);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.035),
    0 4px 14px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  margin-left: 2px;
}

.location-overview img {
  width: 90px;
}

.location-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.location-text h2 {
  color: white;
  font-size: 24px;
  font-weight: var(--fw-500);
}

.location-text p {
  color: var(--clr-small-text);
  font-size: 14px;
}

.info-card {
  width: 170px;
  display: flex;
  align-items: flex-start;
  gap: 8px;
  background-color: var(--clr-info-bg);
  border: 1px solid rgba(120, 180, 240, 0.08);
  box-shadow:
    inset 0 1px 0 rgba(255, 255, 255, 0.035),
    0 4px 14px rgba(0, 0, 0, 0.12);
  border-radius: 10px;
  padding: 7px 2px;
}

.info-card .timezone-image {
  width: 38px;
  height: 38px;
  object-fit: contain;
  flex-shrink: 0;
}

.info-card img {
  width: 45px;
  height: 45px;
  object-fit: contain;
  flex-shrink: 1;
}

.info-card-text {
  display: flex;
  flex-direction: column;
  flex: 1;
  min-width: 0;
  margin-top: 12px;
}

.info-card-text span {
  color: var(--clr-small-text);
  font-size: 11px;
  margin-bottom: 12px;
}

.info-card-text p {
  color: white;
  font-size: 16px;
  font-weight: var(--fw-500);
  margin-bottom: 7px;
}

.info-card-text .timezone-text {
  font-size: 16px;
  white-space: normal;
  margin: 0;
}

.info-card-text small {
  color: var(--clr-small-text);
  font-size: 11px;
}

.card-container>.info-card:nth-child(5) .info-card-text small {
  font-size: 14px;
  color: white;
}

.location-overview,
.info-card,
.attractions-button {
  height: 108px;
  flex-shrink: 0;
}


@media (max-width: 980px) and (min-width: 769px) {
 .location-overview {
    grid-column: 1 / -1;
    width: 230px;
    gap: 3px;
  }

  .info-card {
    width: 105px;
    gap: 0;
    padding-top: 2px;
  }

  .info-card-text p {
    font-size: 14px;
  }

  .info-card-text span {
    font-size: 10px;
  }
}


@media (max-width: 768px) {

  .location-overview,
  .info-card {
    width: 100%;
    height: 70px;
  }

  .location-overview {
    grid-column: 1 / -1;
  }

  .location-overview img {
    width: 55px;
  }

  .location-text {
    gap: 5px;
  }

  .location-text h2 {
    font-size: 18px;
  }

  .location-text p {
    font-size: 12px;
  }

  .info-card {
    width: auto;
    min-width: 0;
    gap: 3px;
    padding: 0px 0 0 10px;
  }


  .info-card-text span {
    font-size: 10px;
    margin-bottom: 5px;
  }

  .info-card-text p {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .card-container>.info-card:nth-child(5) .info-card-text small {
    font-size: 12px;
  }
}